.link-no-style {
    text-decoration: none;
    color: inherit;
  }

  .link-underline-hover {
    color: inherit;
    transition: all 0.3s;
    text-decoration: none;
  }

  .link-underline-hover:hover {
    text-decoration: underline;
    text-decoration-color: inherit;
  }